.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.user-div {
	width: 90%;
	margin: 20px 5% 0px 5%;
	text-align: center;
	font-size: 24px;
}

.user-div input {
	padding: 2%;
	width: 32%;
	background-color: #777777;
	outline: none;
	box-shadow: none !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 2px solid #bbbbbb;
	font: 400 15px system-ui;
	color: #ffffff;
}

.user-div button {
	padding: 2%;
	width: 10%;
	background-color: #555555;
	outline: none;
	box-shadow: none !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-top: 2px solid #bbbbbb;
	border-right: 2px solid #bbbbbb;
	border-bottom: 2px solid #bbbbbb;
	border-left: 0px;
	font: 400 15px system-ui;
	color: #ffffff;
	cursor: pointer;
}

.user-div ul {
	list-style-type: none;
	padding-inline-start: 0px;
}

.user-item {
	float: left;
	padding: 2%;
	width: 32%;
	margin: 0% 0% 2% 26.75%;
	background-color: #555555;
	border: 2px solid #bbbbbb;
	color: #ffffff;
	font: 400 15px system-ui;
}

.user-list button {
	float: left;
}

.user-error {
	display: block;
}

.user-error.hide {
	display: none;
}
